.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, html {
    height: 100%;
}

body {
    font-family: roboto, sans-serif;
    -webkit-font-smoothing: anialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.42;
}

.wrapper {
    overflow: hidden;
    min-width: 1140px;
    min-height: 100%;
}

.wrapper:after {
    content: "";
    display: block;
    height: 134px;    
}

.footer {
    min-width: 1140px;
}

.header {
    background: #4b73b5;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

.header .container {
    padding: 20px;
}

.header__left, .header__right {
    float: left;
    width: 50%;
}

.header__right {
    text-align: right;
}

.contacts__phone {
    color: #ffffff;
    height: 21px;
    font-weight: bold;
    text-decoration: none;
}

.contacts__schedule {
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.nav {
    float: left;
    width: 193px;
    margin-top: 47px;    
}

.content {
    float: left;
    width: 907px;
}

.nav__item-icon, .nav__item-text {
    float: left;
}

.nav__item-icon {
    width: 24px;
}

.nav__item-text {
    margin-left: 20px;
    margin-top: 4px;
}

.maincontent__image {
    width: 901px;
    height: 299px;
    background: url("../img/photo.png") center center no-repeat;
    margin-top: 14px;
}


.nav__item {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;    
}



.nav__item:first-child {
    margin-top: 0px;
}

.caption {
    font-size: 49px;
    margin-top: 58px;
}

.news__list {
    margin-top: 58px;
}

.news__item {
    margin-bottom: 30px; 
}

.news__image, .news__block {
    display: inline-block;
}

.news__image {
    margin-left: 5px;
    margin-right: 21px;
}

.news__block {
    width: 700px;
    vertical-align: top;
}

.news__date {
    font-size: 14px;
    font-weight: lighter;
}

.news__title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 13px;
}

.news__text {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 22px;
}

.rates .rate__list {
    text-align: center;
    margin-top: 11px;    
}

.rate__item {
    display: inline-block;
    width: 249px;
    text-align: center;  
    vertical-align: top;  
}

.rate__item:hover {
    border: 1px solid;
    border-color: red;
    box-sizing: border-box;    
} 


.rate__item-title {
    font-size: 10.78px;
    font-weight: bold;
    margin-top: 34px;
}

.rate__item-desc {
    width: 184px;
    margin-left: 33px;
}

.rate__item-list {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 26px;
    list-style-type: disc;
    list-style-position: inside;    
}

.rate__item-list-item {
    margin-top: 18px;    
    text-align: left;  
    margin-left: 30px;  
}


.rate__item-price {
    font-size: 53.89px;
    margin-top: 35px;
}

.rate__item-icon {
    background: #4b73b5;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    margin: auto; 
    margin-top: 44px;   
}

.rate__item-icon img {
    margin-top: 21px;
}

.page__list, .pages__info, .page__item, .pages_direction_btn {
    display: inline-block;
    vertical-align: middle;
}

.pages__info {
    font-weight: lighter;
    font-size: 14px;
    margin-right: 19px;
    color: #737272;
}


.page__item-link {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding-top: 5px;    
    width: 25px; 
    height: 25px;
    color: black;   
    border-radius: 15%;    
}
.page__item-link--active {
    color: white;   
    background: #4b73b5;    
}

.pages_direction_btn {
    color: #bdbcbc;
}

.pages_direction_btn--active {
    color: #262323;
}

.news__pages {
    text-align: center;
}

.footer {
    background: #4b73b5;
    margin-top: -74px;
}

.footer .container {
    padding: 20px;
}

.footer__left, .footer__right, .footer__center {
    float: left;
    width: 33.3%;
}

.footer__left {
    color: #ffffff;
    font-weight: lighter;
    font-size: 14px;
}

.footer__left-link {
    font-weight: bold;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.footer__center {
    text-align: center;
}

.footer__right {
    text-align: right;
}

.social__title {
    font-weight: bold;
    color: #ffffff;    
}

.social__block {
    margin-top: 11px;
    margin-right: 23px;
}

.social__icon {
    height: 20px;
    width: 20px;
    background: #d2def3;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.social__icon:hover {
    background: white;
}

.social__icon-img {
    margin-right: 5px;
}