.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: roboto, sans-serif;
}

.header {
    background: #4b73b5;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

.header .container {
    padding: 20px;
}

.header__left, .header__right {
    float: left;
    width: 50%;
}

.header__right {
    text-align: right;
}

.contacts__phone {
    color: #ffffff;
    height: 21px;
    font-weight: bold;
    text-decoration: none;
}

.contacts__schedule {
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.nav {
    float: left;
    width: 193px;
}

.content {
    float: left;
    width: 907px;
}

.nav__item-icon, .nav__item-text {
    display: inline-block;
}

.maincontent__image {
    width: 901px;
    height: 299px;
    background: url("../img/photo.png") center center no-repeat;
}


.nav__item {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.caption {
    font-size: 49px;
}

.news__image, .news__block {
    display: inline-block;
}

.news__date {
    font-size: 14px;
    font-weight: lighter;
}

.news__title {
    font-size: 18px;
    font-weight: bold;
}

.news__text {
    font-size: 18px;
    font-weight: lighter;
}

.rate__list, .rate__item {
    display: inline-block;
}

.rate__item-title {
    font-size: 10.78px;
    font-weight: bold;
}

.rate__item-desc, .rate__item-desc-lis {
    font-size: 18px;
    font-weight: lighter;
}

.rate__item-price {
    font-size: 53.89px;
}

.rate__item-icon {
    background: #4b73b5;
    height: 72px;
    width: 72px;
    border-radius: 50%;
}
