.header {
    background: #4b73b5;
}

.header .container {
    padding: 20px;
}

.header__left, .header__right {
    float: left;
    width: 50%;
}

.header__right {
    text-align: right;
}

.contacts__phone {
    color: #ffffff;
    height: 21px;
    font-weight: bold;
    text-decoration: none;
}


.dropdown {
    width: 163px;
    background: white;
    text-align: center;
    position: absolute;
    top: 100%;
    /* left: 100%; */
    transform: translateX(-100%);
    z-index: 10;
    margin-top: 15px;
    left: -999px;
}

.contacts__schedule {
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
    &:hover {
        .dropdown {
            left: 100%;
        }
    }
}


.triangle {
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    position: absolute;
    margin-top: -15px;
    margin-left: 100%;
    transform: translateX(-100%);    
}

.dropdown__sсhedule {
    font-size: 14px;
    font-weight: bold;
    color: #1c5bc3;
    font-style: normal;
    padding-top: 17px;
}

.dropdown__break {
    font-size: 14px;
    font-weight: lighter;
    color: black;
    font-style: normal;
    padding-top: 12px;
}

.dropdown__dropblock {
    height: 70px;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

