.team__item-image {
    position: relative;
}

.team__item-image:before {
    position: absolute;
    content: "";
    top: 0;
    left: -9999px;
    height: 160px;
    width: 160px;
    background: url("./../../img/team/overlay.png") center center no-repeat;
    opacity: .6;
    transform: translateX(-50%)
}

.team__item-image:hover:before {
    left: 50%;
}

.team__item {
    display: inline-block;
    text-align: center;
    vertical-align: top; 
    width: 33%; 
    margin-bottom: 46px;
}

.team__item:nth-child(n+4) {
    margin-bottom: 0;
}

.employer {
    width: 273px;
}

.team__item_-fio {
    font-size: 18px;
    font-weight: bold;
    color: #221f1f;
    margin-top: 20px;
}

.team__item-position {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #4b73b5;
}

.team__item-desc {
    margin-top: 14px;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}

.partners__list {
    width: 100%;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 97px;
}

.partners__item {
    /* border: 1px solid red; */
    display: inline-block;
    width: 362px;
    height: 70px;
    vertical-align: middle;
    position: relative;
}

.logo {
    height: 100%;
    width: 100%;
    position: absolute;
} 

.secondrow {
    margin-top: 63px;
}

.partners1 {
    background: url('./../../img/partners/logo1.png') center no-repeat;
}

.partners1:hover {
  background: url('./../../img/partners/logo1hover.png') center no-repeat;    
}


.partners2 {
    background: url('./../../img/partners/logo2.png') center no-repeat;
}

.partners2:hover {
  background: url('./../../img/partners/logo2hover.png') center no-repeat;    
}


.partners3 {
    background: url('./../../img/partners/logo3.png') center no-repeat;
}

.partners3:hover {
  background: url('./../../img/partners/logo3.png') center no-repeat;    
}

.partners4 {
    background: url('./../../img/partners/logo4.png') center no-repeat;
}

.partners4:hover {
  background: url('./../../img/partners/logo4hover.png') center no-repeat;    
}

.partners5 {
    background: url('./../../img/partners/logo5.png') center no-repeat;
}

.partners5:hover {
  background: url('./../../img/partners/logo5hover.png') center no-repeat;    
}

.partners6 {
    background: url('./../../img/partners/logo6.png') center no-repeat;
}

.partners6:hover {
  background: url('./../../img/partners/logo6hover.png') center no-repeat;    
}

.partners__item:nth-child(n+4) {
    margin-top: 63px;
}
