.team__item-image {
    position: relative;
}

.team__item-image:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
    background: url("./img/team/overlay.png") center center no-repeat;
    /* opacity: .6; */
    display: none;    
}

.team__item-photo:before:hover {
    display: block;
}

.team__item {
    display: inline-block;
    text-align: center;
    vertical-align: top; 
    width: 33%; 
}

.employer {
    width: 273px;
}

.team__item_-fio {
    font-size: 18px;
    font-weight: bold;
    color: #221f1f;
    margin-top: 20px;
}

.team__item-position {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #4b73b5;
}

.team__item-desc {
    margin-top: 14px;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}

.secondteamrow {
    margin-top: 46px;
}



.partners__list {
    width: 100%;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 97px;
}

.partners__item {
    /* border: 1px solid red; */
    display: inline-block;
    width: 362px;
    height: 70px;
    vertical-align: middle;
    position: relative;
}

.partners__logo {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.secondrow {
    margin-top: 63px;
}